<style>
  .card {
    height: 100%;
  }

  .card-header {
    background-color: #6c757d; /* Change to your desired header color */
    color: white;
  }
  .custom-header-color {
    background-color: white;
    color: #9E0000; /* Brown text color */
    padding: 10px 0; /* Add some padding for better appearance */
    margin-bottom: 20px; /* Add margin to separate from other content */
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .icon-container a {
    color: 	#FFAC1C;
    font-weight: bold;
    text-decoration: none;
  }

  .icon-container span {
    margin-top: 5px;
  }

  .icon-container i {
    font-size: 24px;
  }
</style>

<div class="dashboard-container d-flex flex-column min-vh-100">
<div class="row">
  <div class="col-md-3"  *ngIf="userType == 'admin'">
    <div class="icon-container">
      <a routerLink="/language-selection">
        <i class="fas fa-language fab-icon"></i>
        <span>Language Selection</span>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="icon-container">
      <a routerLink="/learning-materials">
        <i class="fas fa-book-open fab-icon"></i>
        <span>Learning Materials</span>
      </a>
    </div>
  </div>
  <div class="col-md-3" *ngIf="userType == 'user'">
    <div class="icon-container">
      <a routerLink="/create-assessment">
        <i class="fas fa-pencil-alt fab-icon"></i>
        <span>Create Assessment</span>
      </a>
    </div>
  </div>
  <div class="col-md-3" *ngIf="userType == 'user'">
    <div class="icon-container">
      <a routerLink="/view-assessments">
        <i class="fas fa-list fab-icon"></i>
        <span>View Assessments</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3" *ngIf="userType == 'user'">
    <div class="icon-container">
      <a routerLink="/create-challenge">
        <i class="fas fa-list fab-icon"></i>
        <span>Create Challenge</span>
      </a>
    </div>
  </div>
  <div class="col-md-3" *ngIf="userType == 'user'">
    <div class="icon-container">
      <a routerLink="/view-challenges">
        <i class="fas fa-list fab-icon"></i>
        <span>View Challenges</span>
      </a>
    </div>
  </div>
</div>
</div>
